body {
    margin: 0;
    background-color: #1C1C1C;
    color: white;
}
h1{
    font-family: Karla;
    font-size: 40px;
    transition: color 0.5s;
}
hr{
    width: 446px;
    height: 2px;
    color: #2F3E53;
    background-color: #2F3E53;
    border: none;
}

.container{
    width: 550px;
    height: 550px;
    margin: 64px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Inter;
    transition: background-color 0.5s;
}
.generator-main{
    margin-left: 52px;
    margin-bottom: 35px;
}
.highlight{
    color: #4ADF86;
}
.tagline{
    font-size: 20px;
    font-weight: 400;
}
.password-options{
    display: flex;
    align-items: center;
}
.slider{
    margin-top: 70px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
.slider input[type="range"]{
    width: 150px;
    height: 5px;
    outline: none;
    appearance: none;
    border-radius: 5px;
    background: #D9D9D9;
    cursor: pointer;
    transition: background 0.5s;
}
.slider input::-webkit-slider-thumb{
    appearance: none;
    width: 15px;
    height: 15px;
    background: #047857;
    border-radius: 100%;
    cursor: pointer;
}
.slider p{
    margin-top: 5px;
}
.generate-button{
    width: 191px;
    height: 42px;
    margin-top: 58px;
    background-color: #10B981;
    border: none;
    border-radius: 6px;
    color: white;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.passwords-panel{
    margin: 35px auto 0px auto;
}

input[type="text"]{
    width: 215px;
    height: 39px;
    background-color: #273549;
    border: none;
    border-radius: 6px;
    color: #55F991;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    outline: none;
    caret-color: transparent;
}
.first-password{
    margin-right: 12px;
}
.second-password{
    margin-left: 12px;
}

.modal{
    width: 150px;
    height: 40px;
    position: absolute;
    transition: top 1s, opacity 0.5s;
    color: #A7F3D0;
    background-color: #34d39975;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.switcher{
    width: 50px;
    height: 25px;
    border-radius: 22px;
    position: relative;
    display: flex;
    align-items: center;
    transition: background-color 0.5s;
    cursor: pointer;
}
.switcher-circle{
    width: 18px;
    height: 18px;
    position: relative;
    left: 7px;
    border-radius: 20px;
    transition: left 0.5s, background-color 0.5s;
}
.theme-switcher{
    top: 0px;
    left: 52px;
    display: flex;
    align-items: center;
    position: relative;
}
.theme-icon{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.panel-switchers{
    display: flex;
    align-items: center;
}
.num-switcher{
    margin-right: 72px;
}
.num-switcher, .symb-switcher{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
